ul
    li
        a(href='/') Home
    li
        a(href='/about') About
    li
        a(href='/activity') Activity
    li
        a(href='/links') Links
    li
        a(href='https://blog.hideo54.com', target='_blank') Blog
