DAM_ID="XXXXXXX"
DAM_PASSWORD="XXXXXXXXXXXXXXXX"
FOURSQUARE_ACCESS_TOKEN="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
GITHUB_PAT="github_pat_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
SEGA_ID="XXXXXXX"
SEGA_PASSWORD="XXXXXXXXXXXXXXXX"
