doctype html
html
  head
    title= title
    include ./includes/header.jade
body
    nav
        include ./includes/nav.jade
    main 
        block content
    footer
        include ./includes/footer.jade
