#wishlist {
    background-color: #00D916;
}

#blog {
    background-color: #E26A6A;
}

#twitter {
    background-color: #55ACEE;
}

#facebook {
    background-color: #3C5998;
}

#tumblr {
    background-color: #32506D;
}

#ask {
    background-color: #1C3855;
}

#google {
    background-color: #D34836;
}

#linkedin {
    background-color: #007BB6;
}

#favstar {
    background-color: #FCA900;
}

#booklog {
    background-color: #66330A;
}

#instagram {
    background-color: #517FA4;
}

#pixiv {
    background-color: #0096DB;
}

#youtube {
    background-color: #BB0000;
}

#nicovideos {
    background-color: #000000;
}

#vine {
    background-color: #00BF8F;
}

#github {
    background-color: #333333;
}

#slideshare {
    background-color: #0575B1;
}

#foursquare {
    background-color: #F84777;
}

#animetick {
    background-color: #FF440E;
}

#skype {
    background-color: #12A5F4;
}

#line {
    background-color: #00C300;
}

#yo {
    background-color: #662D91;
}

#hatena {
    background-color: #5279E7;
}

#gamecenter {
    background-color: #BD20E0;
}

#wikipedia {
    background-color: #808080;
}
