body {
    font-family: sans-serif;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    width: 100%;
}

nav {
    position: fixed;
    width: 100%;
    background-color: #E26A6A;
}

nav ul {
    display: table;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
}

nav li {
    display: table-cell;
    padding: 10px;
    text-align: center;
}

nav a {
    font-family: "proxima-nova", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #ccc;
}

main {
    max-width: 800px;
    width: expression(document.body.clientWidth > 801? "800px" : "auto");
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

h1, h2 {
    font-family: "proxima-nova", sans-serif;
    font-weight: 100;
}

p {
    font-family: sans-serif;
    margin-top: 10px;
}

a {
    color: #E26A6A;
    text-decoration: none;
}

.circle {
    width: 80px;
    height: 80px;
    margin: 10px auto;
    border: solid 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

section a:hover {
    background-color: #eeeeee;
    border-radius: 10%;
}

section a, .non-link {
    display: inline-block;
    width: 100px;
    margin: 10px;
    padding: 5px;
}

@media screen and (max-width: 400px) {
    section a, .non-link{
        margin: 0px;
    }
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}

@media screen and (max-height: 400px) {
    img {
        width: 150px;
        height: 150px;
    }
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background: inherit;
    background-color: white;
    opacity: 0.9;
    border-top: solid 1px #aaaaaa;
}

footer p {
    height: 50px;
    line-height: 50px;
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 0.8em;
    color: #aaaaaa;
}
