//- CSS
link(rel='stylesheet', href='/style.css')

//- Basic meta data
meta(charset='utf-8')
meta(name='description', content='hideo54のホームページ')
meta(name='author', content='hideo54')
meta(name='keywords', content='hideo54')
meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,viewport-fit=cover')
link(rel='icon', href='https://img.hideo54.com/icons/main-192w-192h.png')
link(rel='apple-touch-icon', href='https://img.hideo54.com/icons/main.png')

//- Twitter Card
//- https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@hideo54')
meta(name='twitter:creator:id', content='932032663')
meta(name='twitter:description', content='hideo54のホームページ')
meta(name='twitter:title', content='hideo54.com')
meta(name='twitter:image', content='https://img.hideo54.com/icons/main.png')
//- meta(name='twitter:image:alt', content='hideo54のアイコンです。好奇心の葉を握る狐を象徴しています。')

//- Open Graph Protocol
//- http://ogp.me/
meta(property='og:title', content='hideo54.com')
meta(property='og:type', content='website')
meta(property='og:image', content='https://img.hideo54.com/icons/main.png')
meta(property='og:url', content='https://img.hideo54.com/icons/main.png')
meta(property='og:description', content='hideo54のホームページ')
meta(property='og:locale', content='ja_JP')
//- meta(property='og:image:alt', content='hideo54のアイコンです。好奇心の葉を握る狐を象徴しています。')

//- Google Analytics
script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-34190148-6', 'auto');ga('send', 'pageview');
