doctype html
html
    head
        block head
        include _header
body
    header
        nav: ul
            li: a(href='/') Home
            li: a(href='/activity') Activity
            li: a(href='/accounts') Accounts
    main
        block content
