//- nav: #container
//-     .element: a(href='/') トップへ
//-     .element#accordion
//-         input#flag(type='checkbox')
//-         label(for='flag') 他のページへ
//-         #pages
//-             //- a(href='/intro') 自己紹介
//-             //- a(href='/activity') 活動
//-             //- a(href='/accounts') アカウント一覧
//-             //- a(href='/pay') hideo54 Pay
//-     .element
//-         +externalLink('https://blog.hideo54.com', 'ブログ')