extends _layout

block content
    h1 @hideo54について
    h2 概要
    p
        |1999年8月2日生まれ、高校2年生。頭が弱い。
        br
        |ずっとコンピュータで遊んでいます。
    h2 所属
    p
        a(href='http://npca.jp/', target='_blank') 灘校パソコン研究部(NPCA)
        br
        a(href='http://sunpro.io/', target='_blank') SunPro
    h2 趣味
    ul
        li プログラミング
        li 電子工作(初歩)
        li アニメ観賞
    h2 言語
    ul
        li 日本語
        li English
        li Python
        li PHP
        li JavaScript
        li Swift
    h2 連絡先
    ul
        li Twitter:
            a(href='https://twitter.com/hideo54', target="_blank") @hideo54
        li E-mail: contact@hideo54.com
