extends _layout

block head
    title 活動 | hideo54.com
    meta(name='description', content='hideo54のこれまでの主な活動の一覧です。')

block header
    include _nav

block main
    h1 これまでの主な活動
    h2 2019年
    ul
        li 東京大学理科1類前期入学試験合格・入学
        li 大阪府大阪市都島区から東京都杉並区に転入
    h2 2018年
    ul
        li 筑波大学情報学群情報科学類後期入学試験合格
        li 灘高等学校卒業
        li
            +externalLink('https://www.security-camp.or.jp/minicamp/yamanashi2018.html', 'セキュリティ・ミニキャンプ in やまなし 2018')
            | のチューターを担当
    h2 2017年
    ul
        li
            +externalLink('http://2016.seccon.jp/news/#140', 'SECCON 2016 決勝大会')
            | に参加 (with nkpoid, tsun and taiyoslime as elf)
        li
            +externalLink('https://www.ipa.go.jp/jinzai/camp/2016/forum2017.html', 'セキュリティ・キャンプフォーラム2017')
            | の運営スタッフを担当
    h2 2016年
    ul
        li 英検準1級合格
        li
            +externalLink('https://www.ipa.go.jp/jinzai/camp/2016/zenkoku2016.html', 'セキュリティ・キャンプ全国大会2016')
            | に選考通過・参加
        li
            +externalLink('http://isucon.net/archives/48465737.html', 'ISUCON 6')
            | 予選・本選に参加 (with hiromu1996 and hakatashi as チームえっち)
        li
            +externalLink('http://2016.seccon.jp/news/#121', 'SECCON 2016 京都大会 「サイバー甲子園」')
            | に参加・優勝 (with nkpoid as elf)
    h2 2015年
    ul
        li 灘中学校卒業・灘高等学校入学
        li 株式会社ドワンゴの体験型インターンシップに参加
        li 大阪府大阪市中央区から大阪府大阪市都島区に転入
    h2 2014年
    ul
        li 英検2級合格
    h2 2013年
    ul
        li 英検3級合格
        li 東進「全国統一中学生テスト」決勝大会進出
        li 英検準2級合格
    h2 2012年
    ul
        li 灘中学校入学試験合格・入学
