extends _layout

block content
    h1(style='font-size: 2em;') Welcome to hideo54.com!
    img(src='images/icon.png', alt='Icon', width='200', height='200')
    p(style='margin-top: 2em;') コンテンツは準備中です。
