extends _layout

block head
    title hideo54.com
    link(rel='amphtml', href='https://hideo54.com?amp')

block content
    .center
        img(src='pub/img/icon.png', alt='Icon', width='200', height='200')
        h1 hideo54
        p 1999年8月2日生まれ、19歳。
            br
            | コンピュータを使って遊ぶのが好きです。
    h2 趣味
    ul
        li プログラミング(iOS, Web, IoT, etc)
        li アニメ観賞(ゆるふわ日常系、その他気まぐれ)
    h2 言語
    ul
        li 日本語
        li English
        li Python
        li JavaScript
        li Swift
    h2 現在の所属
    ul
        li
            a(href='https://sunpro.io/') SunPro
            |  (趣味プログラマーサークル)
        li
            a(href='https://ctftime.org/team/34478') elfjp
            |  (CTFチーム)
        li
            a(href='https://harekaze.com/') Harekaze
            |  (CTFチーム)
    p (僕個人への連絡は、上記の所属先は通さずに、以下の連絡先に直接お願いします。)
    h2 連絡先
    ul
        li Mastodon: #{' '}
            a(href='https://social.hideo54.com/@hideo54') @hideo54@social.hideo54.com
        li Twitter: #{' '}
            a(href='https://twitter.com/hideo54') @hideo54
        li E-mail: contact@hideo54.com
    h2 他のページ
    ul
        li: a(href='https://wishlist.hideo54.com') Amazon wishlist
        li: a(href='https://blog.hideo54.com') Blog
