extends _layout

block head
    title hideo54.com
    meta(name='description', content='hideo54のホームページです。')

block main
    .center
        //- +image('https://img.hideo54.com/icons/main', 'Icon', 200)
        // tmp:
        img(src='https://www.dropbox.com/s/h9xw4z8ujyob221/hideo54.png?dl=1' alt='Icon' width=200, height=200)
        h1 hideo54
        p 1999年8月2日生まれ、20歳。
            br
            span コンピュータを使って
            wbr
            span 遊ぶのが
            wbr
            span 好きです。
    section
        h2 好きなもの
        ul
            li プログラミング (Web, iOS, IoT, etc.)
            li アニメ、マンガ
            li 言語
            li 美味しいもの
            li 温泉、サウナ
            li 一人旅
    section
        h2 現在の所属
        ul
            li 東京大学教養学部前期課程(理科1類)
            li: +externalLink('https://tsg.ne.jp/', '東京大学コンピュータ系サークルTSG')
            li
                +externalLink('https://sunpro.io/', 'SunPro')
                |  (趣味プログラマーサークル)
            li
                +externalLink('https://ctftime.org/team/34478', 'elfjp')
                |  (幽霊CTFチーム)
            li
                +externalLink('https://harekaze.com/', 'Harekaze')
                |  (CTFチーム) (幽霊メンバー)
        p 僕個人へは、上記の所属先は通さず、以下の連絡先に直接ご連絡ください。
    section
        h2 いた
        ul
            li 灘校パソコン研究部
            li セキュリティ・キャンプ(参加: 2016全国、チューター: 2018山梨、2019福岡、2019沖縄)
            li SECCON 2016 決勝大会
    h2: a(href='/intro') もう少し詳しい自己紹介
    h2: a(href='/activity') 活動
    section
        h2 連絡先
        ul
            //- li Mastodon: 
            //-     +externalLink('https://social.hideo54.com/@hideo54', '@hideo54@social.hideo54.com')
            li Twitter: 
                +externalLink('https://twitter.com/hideo54', '@hideo54')
            li E-mail: 
                code contact@hideo54.com
    h2: a(href='/accounts') アカウント一覧
    h2: a(href='/pay') hideo54 Pay
    h2: +externalLink('https://blog.hideo54.com', 'ブログ')
    h2: +externalLink('https://www.amazon.co.jp/registry/wishlist/3IQ53EU2L62AI', 'Amazon欲しいものリスト')

block footer
    p: small アイコンのキツネは、Webブラウザ “Firefox” のマスコットキャラクター「フォクすけ」です。
        +externalLink('https://creativecommons.org/licenses/by-nc/4.0/deed.ja', 'CC BY-NC 4.0 ライセンス')
        | で提供された、Mozilla Japan による
        +externalLink('http://foxkeh.jp/downloads/materials/', '画像素材')
        | を使用しています。