extends _layout

block head
    title 自己紹介 | hideo54.com
    meta(name='description', content='hideo54の自己紹介です。')

block header
    include _nav

block main
    h1 詳しい自己紹介
    section
        h2 よく使う言語
        ul
            li 日本語 (C2) (母語)
            li English (B2)
            li français (初学者)
            li Python (少し前までメインだった)
            li JavaScript (メイン。最近はTypeScriptで書いている)
            li Swift (iOS App を書く時用)
    section
        h2 食べ物の好き嫌い
        p 本当はかなり複雑だが、わかりやすくざっくり言うと
        ul
            li 好き: 肉、麺、緑の野菜
            li 嫌い: 豆、卵、黒いやつ
        p 食物アレルギーはありません。
        p 備考:
        ul
            li 東京に来てからまだ理想のラーメン屋を見つけられておらず、開拓を進めています。
            li 高校生になってから甘いものがやや苦手になった。 (例外多数)
            li 大学生になってからコーヒーが飲めるようになりドハマリしている。詳細な好みは研究中。
                br
                | ブラックが一番好きだが、酸味が強い時はシロップを入れる。砂糖やミルクは甘いので苦手。
            li にんにくが好き。
            li 水を常人の3倍くらい飲みます。これは冗談ではなく、本当に3倍程度です。ピッチャーを置いてもらえると喜びます。
    section
        h2 性格
        ul
            li 見えるものにすることが好き。デザイン(特にUI)の設計やデータの可視化が好き。
            li 言語、言語化が好き。最近は特に、感情を言語にするのが好き。
            li 記録を残すことが好き。身体活動記録、食事記録、行動記録、家計簿や、その他記録文書など。
                br
                | 正確性に拘りすぎてしまって必要以上に手間をかけてしまうという悪癖もあります…。
            li 自由が好き。社会自由主義的。
            li 変なところで綺麗さにこだわってしまう。表記の正確性にうるさい。
            li 情報リテラシは十分にあると思っています。
            li 暗記がかなり苦手。
            li 仲良くなるまで人の顔や名前を覚えられない。名前を何度も聞かれた時は、覚えようとしているんだと思って安心してください。
            li 気が向いた時にやる性格で、計画性がありません。
            li 最低限の責任感はあるので、義務感と締切が設定されている場合は極力守ります。
            li たいてい締切ギリギリか少しオーバーくらいに終わらせる性格なので、締切は早めに設定されていると吉。
            li 締切が設定されていなければ永遠に後回しにする可能性が高いです。
    section
        h2 技術
        ul
            li Webが好き。最近は専らTypeScriptを書きまくっている。
                br
                | 現在の趣味は、自宅の諸々のハード/ソフトをプログラマブルにすること。APIを整備しまくっている。
            li iOSが好き。最近は全然開発できていないがいずれ戻りたい。デザインやAPIについての知識は最低限あります。
            li Raspberry Piが好き。工作をプログラマブルにする最高の手段。
                br
                | 電子工作に対する物理的知識は素人に毛が生えた程度なので、もっと勉強したい…。
            li macOSとDebianを日常的に使用している。Windowsについては、一般ユーザー程度以上には触れますが、込み入った設定や技術的細部などについては全然わかりません。
            li 低レイヤーな部分への理解が浅い…。
            li Adobe Illustrator の操作には比較的慣れており、簡単なものは制作できます。
        p 最近特に勉強したいもの:
        ul
            li 機械学習
            li 競技プログラミング
            li 電子回路の知識
            li ネットワークの詳細な知識
    section
        h2 普段使いのマシンたち
        p こういうの書くの一昔前のインターネットみたいでいいですね。
        ul
            li MacBook Pro 2018 (US)
            li iPhone 11 Pro
            li iPad Pro 9.7″ w/Apple Pencil
            li 自作Debianサーバー (録画機能がメイン。PT3とHDD 10TBが刺さっているのが特徴)
            li Raspberry Pi 2 (部屋の赤外線機器等を司っている)

block footer
    script(type='application/ld+json').
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Intro",
                "item": "https://hideo54.com/intro"
            }]
        }