extends _layout

block head
    title hideo54 Pay
    meta(name='description', content='hideo54にお金を送ったり請求したりしたい')

block header
    include _nav

block main
    h1 hideo54 Pay
    p …という名前は冗談ですが、hideo54にお金を送ったり請求したりしたい時に助かる方法を下記に記します。#[strong 現金は断ることはありませんが、あまり好みません]。
    section
        h2 送金
        p 支援や立替の返金などでhideo54に金銭を送りたい時は、以下の任意の手段をご利用ください。上に書いてあるものほど助かります。
        ul
            li Kyash: @hideo54
            li LINE Pay: @hideo54 と友だちになり、送金してください。
            li 現金: 頑張ってとっ捕まえて渡してください。
            li Amazonギフト券: #[code pay@hideo54.com] に送るか、コードをお好きな方法でお伝えください。
            li PayPay: hideo54
            li BTC: #[code 39pov3BeXeuuiQ52E2ZqKr9nGWEAtxAtEE]
    section
        h2 請求
        p 支援や立替の返金などでhideo54に金銭を求めたい時は、#[strong Kyash で @hideo54 に請求していただくのが一番助かります]。それ以外の手段をご希望の場合はご連絡ください。

block footer
    script(type='application/ld+json').
        {
            "@context": "https://schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Pay",
                "item": "https://hideo54.com/pay"
            }]
        }