extends _layout

block head
    title [復活済] Twitter 凍結のお知らせ
    meta(name='description', content='[復活済] Twitter 凍結のお知らせ')
    meta(name='robots' content='noindex')

block header
    include _nav

block header
    include _nav

block main
    section
        h1.center このページにてお伝えしていた Twitter アカウント
            +externalLink('https://twitter.com', ' @hideo54 ')
            | の凍結は、解除されました。
        .center: +image('https://img.hideo54.com/icons/main', 'hideo54', 200)
        p(style='text-align: center') 凍結日時: 2020年4月3日(金) 1:11ごろ
        p(style='text-align: center') 解除日時: 2020年4月4日(土) 1:08ごろ
    section
        h2 心当たりは?
        p
            strong 本当に全く思い当たりません。
            | ロックでもなく、突然凍結されました。そして、突然解除されました。
        p Twitter 社には丁寧な説明を求め続けていますが、2020年5月2日現在、返答はありません。